* {
    box-sizing: border-box;
}

body {
   background-color: #F2F2F2;
}  

.css-main {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.css-meet-logo {
    margin-top: 50px;
    width: 118px;
    height: 28px;
}

.css-stepper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 140px;
    margin-top: 50px;
    margin-bottom: -30px;
}

.css-stepper .css-line {
    height: 80px;
    width: 2px;
    background-color: #87879D;
    opacity: 0.7;
}

.css-stepper .css-circle {
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    opacity: 0.6;
    border: 2px solid #87879D;
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    z-index: 1;
}

.css-group-chat {
    display: grid;
    grid-template-areas: "a b c";
    height: 358px;
    width: 1472px;
    margin-top: 80px;
}

@media screen and (max-width: 400px) {
    .css-group-chat {
        display: grid;
        grid-template-areas: 
            "a c"
            "b b";
        width: 340px;
        height: auto;
    }
}

.css-group-chat-a {
    grid-area: a;
}

.css-group-chat-b {
    grid-area: b;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.css-group-chat-c {
    grid-area: c;
}

@media screen and (max-width: 400px) {
    .css-group-chat-a img{
        width: 150px;
        height: auto;
    }

    .css-group-chat-b {
        flex-direction: row;
        width: 340px;
        height: auto;
    }
    
    .css-group-chat-c img{
        width: 150px;
        height: auto;

    }
}

.css-group-chat-buttons {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 400px) {
    .css-group-chat-buttons {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.css-pictures {
    display: grid;
    grid-template-areas: "a b c d";
    height: 242px;
    width: 1110px;
    grid-gap: 20px;
    margin-top: 70px;
}

@media screen and (max-width: 400px) {
    .css-pictures {
        display: grid;
        grid-template-areas:
                "a b"
                "c d";
        height: auto;
        width: 327px;
        grid-gap: 5px;
    }
}

.css-pictures-a {
    grid-area: a;
}

.css-pictures-b {
    grid-area: b;
}

.css-pictures-c {
    grid-area: c;
}

.css-pictures-d {
    grid-area: d;
}

.css-pictures img {
    width: 255px;
    height: 242px;
}

@media screen and (max-width: 400px) {
    .css-pictures img {
        width: 151px;
        height: 143px;
    }
}

.css-description {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 308px;
    background-image: url(assets/desktop/image-footer.jpg);
}

@media screen and (max-width: 400px) {
    footer {
        width: 375px;
        height: 436px;
        background-repeat: no-repeat;
        background-image: url(assets/mobile/image-footer.jpg);
    }
}


footer .css-footer-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #4D96A9;
    width: 100%;
    height: 100%;
    opacity: 0.8;   
}

@media screen and (max-width: 400px) {
    footer .css-footer-flex {
        flex-direction: column;
    }
}

.css-download-btn {
    border-radius: 20px;
    color: white;
    background-color: #4D96A9;
    width: 192px;
    height: 58px;
    font-size: 16px;
    border: 1px solid white;
    cursor: pointer;
}

.css-download-btn span {
    color: #8FE3F9;
    font-size: 16px;
}

.css-about-btn {
    border-radius: 20px;
    background-color: #855FB1;
    width: 138px;
    height: 58px;
    color: white;
    font-size: 16px;
    border: 1px solid white;
    cursor: pointer;
}

footer .css-download-btn {
    background-color: #855FB1;
    border: 1px solid #4D96A9;
    cursor: pointer;
}

footer .css-download-btn span {
    color: white;
}

footer p {
    width: 350px;
    height: 78px;
    font-size: 18px;
    line-height: 26px;
    color: white;
    font-weight: 500;
    font-family: "Red Hat Display";
}

@media screen and (max-width: 400px) {
    footer p {
        text-align: center;
    }
}

footer h1 {
    color: white;
    font-family: "Red Hat Display";
    font-size: 40px;
    line-height: 44px;
    font-weight: 900;
}

@media screen and (max-width: 400px) {
    footer h1 { 
        font-size: 32px;
        line-height: 36px;
        text-align: center;
    }
}

.css-description span{
    font-family: "Red Hat Display";
    font-size: 16px;
    letter-spacing: 4px;
    line-height: 26px;
    text-align: left;
    color: #4D96A9;
    font-weight: 900;
}

.css-description h2 {
    font-family: "Red Hat Display";
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    font-weight: bold;
}

@media screen and (max-width: 400px) {
    .css-description h2 {
        font-size: px;
        line-height: 44px;
        text-align: center;
        font-weight: bold;
    }
}

.css-description p {
    font-family: "Red Hat Display";
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    color: #87879D;
}

.css-group-chat-b h1 {
    font-family: "Red Hat Display";
    font-size: 64px;
    line-height: 64px;
    text-align: center;
    font-weight: bold;
}

@media screen and (max-width: 400px) {
    .css-group-chat-b h1 {
        font-size: 32px;
        line-height: 36px;
    }
}


.css-group-chat-b p {
    font-family: "Red Hat Display";
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    color: #87879D;
}

@media screen and (max-width: 400px) {
    .css-group-chat-b p {
        font-size: 16px;
        line-height: 26px;
        font-weight: 500;
    }
}

@media screen and (max-width: 400px) {
    .css-group-chat-b p {
        font-size: 16px;
        line-height: 26px;
        font-weight: 500;
    }
}